.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .container h1 {
    font-weight: 400; }
  .container h2 {
    font-weight: 550; }
  .container header {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .container header .logo {
      display: flex;
      align-items: center;
      color: #00b289;
      font-family: "Calisto MT"; }
    .container header nav {
      flex-grow: 1;
      text-align: center; }
      .container header nav ul {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0; }
        .container header nav ul li {
          margin: 0 20px; }
        .container header nav ul a {
          color: #000;
          text-decoration: none; }
    .container header .auth {
      display: flex;
      align-items: center; }
      .container header .auth a {
        margin-left: 20px;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        border: 1px solid #00b289; }
      .container header .auth .login {
        color: #00b289; }
      .container header .auth .sign-up {
        background: #00b289;
        color: white; }
  .container main .showcase {
    padding-top: 5rem; }
    .container main .showcase .rates {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
      .container main .showcase .rates .rate-card {
        width: 40%;
        height: 55vh;
        padding-top: 0.5%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 5px; }
        .container main .showcase .rates .rate-card .container {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly; }
          .container main .showcase .rates .rate-card .container h1 {
            padding: 2rem;
            margin: 0 auto 0 0;
            font-size: 18pt; }
          .container main .showcase .rates .rate-card .container .price-block {
            margin: auto;
            margin-left: 4rem;
            display: grid;
            grid-template-columns: 0.2fr 0.5fr 0.5fr;
            grid-template-rows: 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas: "dollar price ." ". price date";
            border-bottom: 2px solid #00b289; }
          .container main .showcase .rates .rate-card .container .dollar {
            grid-area: dollar;
            font-size: 18pt; }
          .container main .showcase .rates .rate-card .container .price {
            font-size: 3rem;
            grid-area: price; }
          .container main .showcase .rates .rate-card .container .date {
            grid-area: date;
            font-size: 16pt; }
        .container main .showcase .rates .rate-card li {
          margin: auto;
          list-style: none;
          padding: 0.5rem; }
        .container main .showcase .rates .rate-card .button {
          width: 15rem;
          height: 3rem;
          margin: 0 auto;
          background-color: #00b289;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          cursor: pointer; }
  .container main .addons-pricing .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 4rem; }
    .container main .addons-pricing .container .addon {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      margin-top: 4rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      padding: 1rem; }

/*# sourceMappingURL=style.css.map */
