.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    font-weight: 400;
  }

  h2 {
    font-weight: 550;
  }

  header {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      color: #00b289;
      font-family: "Calisto MT";
    }

    nav {
      flex-grow: 1;
      text-align: center;

      ul {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin: 0 20px;
        }

        a {
          color: #000;
          text-decoration: none;
        }
      }
    }

    .auth {
      display: flex;
      align-items: center;

      a {
        margin-left: 20px;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        border: 1px solid #00b289;
      }

      .login {
        color: #00b289;
      }
      .sign-up {
        background: #00b289;
        color: white;
      }
    }
  }

  //MAIN
  main {
    .showcase {
      padding-top: 5rem;

      .rates {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .rate-card {
          width: 40%;
          height: 55vh;
          padding-top: 0.5%;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          border-radius: 5px;

          .container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            h1 {
              padding: 2rem;
              margin: 0 auto 0 0;
              font-size: 18pt;
            }
            .price-block {
              margin: auto;
              margin-left: 4rem;
              display: grid;
              grid-template-columns: 0.2fr 0.5fr 0.5fr;
              grid-template-rows: 1fr 1fr;
              gap: 0px 0px;
              grid-template-areas:
                "dollar price ."
                ". price date";
              border-bottom: 2px solid #00b289;
            }
            .dollar {
              grid-area: dollar;
              font-size: 18pt;
            }
            .price {
              font-size: 3rem;
              grid-area: price;
            }

            .date {
              grid-area: date;
              font-size: 16pt;
            }
          }
          li {
            margin: auto;
            list-style: none;
            padding: 0.5rem;
          }

          .button {
            width: 15rem;
            height: 3rem;
            margin: 0 auto;
            background-color: #00b289;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
    .addons-pricing {
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin-top: 4rem;

        .addon {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 80%;
          margin-top: 4rem;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          padding: 1rem;
        }
      }
    }
  }
}
